.searchBarInput {
  height: 2.5rem;
  padding: 0.5rem;
  outline: none;
}

.searchBarButton {
  width: 2.5rem;
  height: 2.5rem;
}

.searchBarResultContainer {
  top: 3rem;
  display: flex;
  flex-direction: column;
  max-height: 320px;
}

.searchBarResultListItems {
  cursor: pointer;
  flex-shrink: 0;
}

.searchBarResultList {
  max-height: 240px;
  overflow-y: auto;
  margin-bottom: 0;
}
